.welcome-page__wrapper {
    height: 100vh;
      margin: 0;
      padding: 0;
      box-sizing: border-box;    
    display: flex;
  }
  .welcome-logo {
      background-color:#292D7D;
      width: 75%;
      height: 100vh;
      background-image: url('../../pictures/traced.png');
        background-position: right;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
  }
  .logo-text {
      width:500px;
  }
  .welcome-logo h1 {
      color: #fff;
      font-weight: bold;
      font-size: 45px;
  }
  .secondH1 {
      display: flex;
      justify-content: right;
  }

  .welcome-right__wrapper {
        width: 40vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 0;
      padding: 0;
      box-sizing: border-box;

  }
  .welcome-right__content {
      width: 350px;
      height: 410px;  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    
  }



  .welcome-right__buttons {
      width: 100%;
      
  }
  .welcome-seign-in {
      width: 100%;
      height:  60px;
      border: 0;
      outline: 0;
      background-color: #292D7D;
      color: #ffff;
      border-radius: 16px;
      cursor: pointer;


      font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
        line-height: 17px;
        margin: 10px 0;
  }
  .welcome-register {
    width: 100%;
    height:  60px;
    border: 0;
    outline: 0;

    color: #7A8290;
    border-radius: 16px;
    cursor: pointer;

    background-color: #A6AEBF;


    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .welcome-right__logo {
        width: 50%  ;
  }

  .welcome-right__logo img {
      width: 100%;
  }

  .welcome-right__header {
      display: flex;
      flex-direction: column;
      align-items: left;
      margin-top: 150px;

  }
  .welcome-right__header h1 {
      color: #292D7D;
  }