.post-main__wrapper {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;

}
.post-content {
    margin: 10px 0;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-profile-image {
    width: 44px;
}
.post-profile-image img {
    width: 100%;
}

.name-and-nick {
    display: flex;
    flex-direction: column;
    margin-left: 5px;

}
.name-and-nick h3 {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #101419;
}
.name-and-nick p {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #566370;
}
.post-main-img {
    width: 100%;
}
.post-main-img img {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0 0 0;
}

.post-functions {
    display: flex;
    flex-direction: column;
}
.post-icons {
    display: flex;
    justify-content: space-between; 
    padding: 10px 0 0 0 ;
}
.action-icons {
    
   
}
.action-icons img  {
    cursor: pointer;
    color: red;
    
}
.comment-icon {
    margin: 0 13px;
    cursor: pointer;
}
.stroke {
    margin-right: 5px;
    cursor: pointer;
}
.likes-counter {
    margin: 10px 0 0 0 ;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 18px;
    color: #566370;

}
.comment-wrapper  {
    margin: 10px 0;
    position: relative;
}
.comment-wrapper input {
    width: 95.5%;
    border: 0;
    outline: 0;
    height: 52px;
    border-radius: 20px;
    padding: 0 12px ;
    border: 1px solid #F0F3F4;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 18px;

    color: #566370;
   
}
.send-comment {
    position: absolute;
    top: 30%;
    right: 5%;
    cursor: pointer;
}