.home_page_wrapper{
   
    

   
}

.center-content__wrapper {
    width: 540px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
     background-color: red;
}
.center-content__wrapper::-webkit-scrollbar{
  
}

