.home_page_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
}

.center-content__wrapper {
    width: 540px;
    display: flex;
    flex-direction: column;
}
.center-content__wrapper::-webkit-scrollbar{
  
}

